/* App.css */

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-image: url('./Components/images/marble2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
 
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #ece7e7;
    opacity: 0.9;
  }
  
  .services-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .service-product-card {
    border: 1px solid #ccc;
    padding: 35px;
    margin: 55px;
    border-radius: 5px;
    width: calc(40% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .service-product-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .service-product-price {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  
.greyed-out {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

  /* Gallery.css */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-image {
    max-width: 100px;
    height: auto;
  }
  
  /* Cart.css */
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    color: #ccc;
  }
  /* App.css or your custom CSS file */
.cart-item-name {
    color: rgb(206, 206, 233); /* Change to your desired color */
  }
  